body{
  font-family: apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Myriad pro, Arial;
-webkit-touch-callout: none;
-webkit-text-size-adjust: none;
-webkit-user-select: none;
color: #545454;
font-weight: 500;
font-size: 12px;
line-height: 1.5;
text-align: center;
-webkit-font-smoothing: antialiased;
background: #fff;
padding: 0px;
margin: 0px;
width: 100%;
}

p{
  text-align: left;
  padding: 10px;
}

#menu{
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.47);
-webkit-backdrop-filter: blur(20px);
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.44);
position:fixed;
bottom: 0;
text-align: center;
}

#menuItem1{
  float: left;
  height: 50px;
  width: 33.3%;
}

#menuItem2{
  float: left;
  height: 50px;
  width: 33.3%;
}

img#menuItem2{
 height: 35px;
 margin-top: 5;
}

#menuItem3{
  float: right;
  height: 50px;
  width: 33.3%;
  font-weight: bold;
}
#box-wrapper{
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.47);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.44)
}

.box{
  width: 30.3%;
  margin: 1.5%;
  border-radius: 10px;
  color: #fff;
}

.red{
  background:linear-gradient(47deg, rgba(255, 5, 106, 1), rgba(255, 5, 18, 1));
  float: left;
}

.yellow{
  background:linear-gradient(47deg, rgba(255, 124, 5, 1), rgba(255, 238, 5, 1));
  float: left;
}

.blue{
  background:linear-gradient(47deg, rgba(5, 49, 255, 1), rgba(5, 147, 255, 1));
  float: left;
}

img{
 width: auto;
}
#menu img{
 height: 35px;
 margin-top: 5;
 opacity: 0.7;
}

#kart{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  align-content: center;
}

#tur1{
overflow-x: hidden;
}

.right{
  float: right;
  width: 44vw;
}

.left{
  float: left;
  width: 45%
}
